opencv-python
Pillow
cvzone
pyautogui
keras
mediapipe
comtypes
pynput
customtkinter
pywin32
numpy  # Added for numerical computations
matplotlib  # Added for plotting and visualization
scipy  # Added for scientific computations